<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  Has made <%= @user.ratings.size %> ratings, average <%= @user.average_rating %>
  <br>
  <% if @user.beer_clubs.any? %>
    <p>
      Member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
    </p>
<% else %>
    <p>No club memberships</p>
<% end %>
  <% if @user.ratings.any? %>
    <p>Favorite beer: <%= @user.favorite_beer %></p>

    <p>Favorite style: <%= @user.favorite_style %></p>

    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
<% end %>
</p>

<p><strong>ratings</strong></p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.to_s %>
        <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
      </li>
  <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>