
<p>
  <strong><h2><%= @user.username %></h2></strong>
  <% if @user.iced %>
      <span class="label label-info">account frozen</span>
      <% if !current_user.nil? && current_user.admin %>
          <%= link_to "reactivate account", toggle_iced_user_path(@user.id), method: :post, class: "btn btn-danger" %>
      <% end %>
  <% elsif !@user.iced && !current_user.nil? && current_user.admin && @user.admin == false %>
      <%= link_to "froze account", toggle_iced_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% end %>
</p>

<% if @user.ratings.any? %>
    <dl class="dl-horizontal">
      <dt>favorite beer<dt>
      <dd><%= @user.favorite_beer %></dd>
      <dt>preferred style<dt>
      <dd><%= @user.favorite_style.name %></dd>
      <dt>favorite brewery<dt>
      <dd><%= @user.favorite_brewery.name %></dd>
    </dl>
<% end %>


<h4><strong>Memberships</strong></h4>
<% if @user.beer_clubs.any? %>
    <p>Member of</p>
      <ul>
        <% @user.beer_clubs.each do |club| %>
            <li><%= link_to club.name, club %></li>
        <% end %>
      </ul>
<% else %>
    <p>No club memberships</p>
<% end %>
<% if @user.applications.any? %>
    <p>Applied membership of</p>
    <ul>
      <% @user.applications.each do |club| %>
          <li><%= link_to club.name, club %></li>
      <% end %>
    </ul>
<% end %>


<h4><strong>Ratings</strong></h4>
<p>Has made <%= @user.ratings.size %> ratings, average <%= round(@user.average_rating) %></p>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.to_s %>
        <% if @user == current_user %>
            <%= link_to '', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'glyphicon glyphicon-trash' %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>