
<p>
  <strong><h2><%= @user.username %></h2></strong>
  <% if @user.iced %>
      <span class="label label-info">account frozen</span>
      <% if !current_user.nil? && current_user.admin %>
          <%= link_to "reactivate account", toggle_iced_user_path(@user.id), method: :post, class: "btn btn-danger" %>
      <% end %>
  <% elsif !@user.iced && !current_user.nil? && current_user.admin && @user.admin == false %>
      <%= link_to "froze account", toggle_iced_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% end %>
</p>

<p>
  Has made <%= @user.ratings.size %> ratings, average <%= round(@user.average_rating) %>
  <br>
  <% if @user.beer_clubs.any? %>
    <p>
      Member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
    </p>
<% else %>
    <p>No club memberships</p>
<% end %>
  <% if @user.ratings.any? %>
    <p>Favorite beer: <%= @user.favorite_beer %></p>

    <p>Favorite style: <%= @user.favorite_style.name %></p>

    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
<% end %>
</p>

<p><strong>ratings</strong></p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.to_s %>
        <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
      </li>
  <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>