

<p>
  <strong><h2><%= @style.name %></h2></strong>
</p>

<p>
  <%= @style.description %>
</p>

<% if @style.beers.any? %>
    <p><strong>beers</strong></p>
    <ul>
      <% @style.beers.each do |beer|%>
          <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
      <% end %>
    </ul>
<% else %>
    <p><strong>There are no beers with this style</strong></p>
<% end %>


<%= edit_and_destroy_buttons(@style) %>
