
<% cache @beer do %>
<p>
  <strong><h2><%= @beer.name %></h2></strong>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>


<% if @beer.ratings.empty? %>
    <p>Has not yet been rated!</p>
<% else %>
    <p>Has <%= pluralize(@beer.ratings.size, "rating", "ratings") %>, average <%= round(@beer.average_rating) %></p>
<% end %>

<br>

<% end %>

<% if current_user %>

    <h5>give a rating:</h5>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit class:"btn btn-primary" %>
    <% end %>

    <br>

    <%= edit_and_destroy_buttons(@beer) %>

<% end %>
