<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>


<% if @beer.ratings.empty? %>
    <p>Has not yet been rated!</p>
<% else %>
    <p>Has <%= pluralize(@beer.ratings.size, "rating", "ratings") %>, average <%= @beer.average_rating %></p>
<% end %>

<%= link_to 'Edit', edit_beer_path(@beer) if current_user  %>
<%= link_to 'Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>

