

<h2><%= @place.name %></h2>

<p><%= @place.street %></p>

<p><%= @place.zip %> <%= @place.city %></p>

<iframe  width="500" height="350" frameborder="0" style="border:0"
         src="<%= @place.blogmap %>
      &zoom=10
      &key=AIzaSyCfhoXLv22tMSUg-3tjOZUFwX1hM3q6yVs">
</iframe>

